*.pyc
*.pyo
*.db
.DS_Store
.coverage
lib
bin
deploy
include
local
share
migrations
static.tar
local_settings.py
/static/*
!/static/css
!/static/js
!/static/img
!/static/fonts
!/static/scss/
!/static/CACHE/
/static/scss/.sass-cache
static/scss/*.css
static/scss/*.css.map

