{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Tanker" %}{% endblock %}
{% block meta_description %}{% trans "With Tanker, meet the best of all world to foster the most secure and flexible ... At Tanker we reconcile IT & Security departments with employee's favorite tools..." %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
{% endblock %}

{% block main %}
<div id="about-us">
    <div id="about-us-header">
        <div class="header-content">
            <h1>
                About us
            </h1>
            <h3>
                We bring back full data ownership to cloud users<br/>
                without impacting their beloved user experience
            </h3>
            <div class="button-container">
                <a class="button" href="#" id="learn-more">
                    Learn more
                    <img src="{% static "img/arrow.svg" %}" alt="arrow"/>
                </a>
            </div>
        </div>
    </div>

    <div id="about-us-1">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>
                        Our vision
                    </h2>
                    <p>
                        As more and more companies migrate their business apps to the cloud for more usability and scalability, protecting data is an ever-growing concern.
                    </p>
                    <p>
                        At Tanker we think user-owned encryption key is the key for mass cloud adoption.
                    </p>
                    <p>
                        Our aim is to secure the most popular cloud applications against cyber threats, to provide peace of mind to millions of businesses worldwide when it comes to their privacy and data governance. 
                    </p>
                    <p>
                        We work hard to demystify cybersec, by reconciling security and ease of use.  
                        Security should be an asset to your business, rather than a burden.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="about-us-2">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>
                        Who We Are
                    </h2>
                    <p>
                        We are a French technology company that specializes in cyber defense.
                    </p>
                    <p>
                        Behind Tanker is a team with strong product and Tech DNA. Our people helped build products such as ClicRDV, FrontApp, Socloz, Aldebaran and Dashlane. 
                    </p>
                    <p>
                        Headquartered in Paris, we are backed by security experts from the French Ministry of Defense and ENS Ulm Crypto Lab. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="about-us-3">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>
                        Backstory
                    </h2>
                    <p>
                        We have found ourselves quickly addicted to great tools such as Dropbox or Office 365 that make our lives easier.
                        Our data has fast become scattered across the Internet. 
                    </p>
                    <p>
                        Historical security players’ complex solutions no longer meet the needs of modern businesses like ours, with unstructured networks and hackable connected devices. 
                    </p>
                    <p>
                        A strong, seamless and affordable product giving back control to companies over their data was missing.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="about-us-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>
                        Scientific Committee
                    </h2>
                    <p>
                        Protecting your data is our highest concern and it is a challenging mission. 
                        We surrounded ourselves with the best people for the job.
                    </p>
                </div>
            </div>
            <div class="row" id="committee">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="card">
                        <h1>Rémi Géraud</h1>
                        <div class="link-container">
                            <a href="#" id="link-remi-geraud">Read Bio</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" id="houda-ferradi">
                        <h1>Houda Ferradi</h1>
                        <div class="link-container">
                            <a href="#" id="link-houda-ferradi">Read Bio</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" id="philippe-baumard">
                        <h1>Philippe Baumard</h1>
                        <div class="link-container">
                            <a href="#" id="link-philippe-baumard">Read Bio</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" id="david-naccache">
                        <h1>David Naccache</h1>
                        <div class="link-container">
                            <a href="#" id="link-david-naccache">Read Bio</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card" id="nadim-kobeissi">
                        <h1>Nadim Kobeissi</h1>
                        <div class="link-container">
                            <a href="#" id="link-nadim-kobeissi">Read Bio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay" id="bio-houda-ferradi">
        <div class="close"></div>
        <div class="content">
            <h1>Houda Ferradi</h1>
            <p>
            Houda Ferradi received a Doctorate in Cryptograpy and Computer Security from the Ecole normale supérieure's Computer Science Department. Lecturer at Panthéon-Assas University, Paris 13 University and Ecole normale superieure, she has a substantial industrial and consulting experience in security. Her research interests mainly include Privacy and Integrity in the Cloud as well as cryptographic hardware and embedded systems. 
            </p>
            <p>
            Statement : We are pleased to share our cryptographic skills with the Tanker team to enable them to reconcile in a pragmatic way security and simplicity, academic knowledge and everyday product.
            </p>
        </div>
    </div>

    <div class="overlay" id="bio-philippe-baumard">
        <div class="close"></div>
        <div class="content">
            <h1>Philippe Baumard</h1>
            <p>
            Philippe Baumard is Professor and co-Director of the Master Degree in Criminal Sciences at the Cnam, Dean of Research of Eslsca Business School, School of Economic Warfare and Professor, Associate Researcher, with Ecole Polytechnique. Dr. Baumard pioneered works on information and cyber-warfare in the early 1990s, noticeably with his “From Info-War to Knowledge- Warfare, he was elected President of the Scientific Council of the High Council for Strategic Research. 
            </p>
            <p>
            Statement :While instant messaging encryption is becoming increasingly widespread, it is a difficult challenge for the Tanker team to seamlessly encrypt from end to end the cloud collaboration solutions which ease of use made them such a success. 
            </p>
        </div>
    </div>

    <div class="overlay" id="bio-david-naccache">
        <div class="close"></div>
        <div class="content">
            <h1>David Naccache</h1>
            <p>
            David Naccache heads the ENS' Information Security Group. His research areas are code security, forensics, the automated and the manual detection of vulnerabilities. Before joining ENS Paris (PSL) he was a professor during 10 years at UP2 (Sorbonne Universités). He is a forensic expert with several courts, a member of OSCP and the incumbant of the Law and IT forensics chair at EOGN.
            </p>
            <p>
            Statement : Tanker is an innovating French start-up who strives to develop tools allowing users protect their privacy in the cloud. Tanker integrates cutting edge algorithms in a coherent way and offers a very complete range of security products 
            </p>
        </div>
    </div>

    <div class="overlay" id="bio-remi-geraud">
        <div class="close"></div>
        <div class="content">
            <h1>Rémi Géraud</h1>
            <p>
            Rémi Géraud is a researcher and expert in cryptology and security, he is also a member of the Ecole Normale Supérieure’s Information Security Lab. He is responsible for the Information Security course, for 3rd years, at the École Centrale de Paris (now called Centrale Supélec) since 2014-2015.  
            </p>
            <p>
            Statement : What makes this project stand out from others is further than the necessary protection of data, Tanker aims to integrate in a transparent manner new and original security solutions. This alliance between innovation, flexibility and security is a unique and necessary asset.
            </p>
        </div>
    </div>

</div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('#learn-more').click(function(e) {
            e.preventDefault();
            $(window).scrollTo('#about-us-1', 800);
        });

        $('#link-houda-ferradi').click(function(e) {
            e.preventDefault();
            $('#bio-houda-ferradi').slideDown(500);
        });

        $('#link-philippe-baumard').click(function(e) {
            e.preventDefault();
            $('#bio-philippe-baumard').slideDown(500);
        });

        $('#link-remi-geraud').click(function(e) {
            e.preventDefault();
            $('#bio-remi-geraud').slideDown(500);
        });

        $('#link-david-naccache').click(function(e) {
            e.preventDefault();
            $('#bio-david-naccache').slideDown(500);
        });

        $('#link-nadim-kobeissi').click(function(e) {
            e.preventDefault();
        });

        $('.close').click(function(e) {
            e.preventDefault();
            $(this).parent().slideUp(500);
        });
    </script>
{% endblock %}
