{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Tanker" %}{% endblock %}
{% block meta_description %}{% trans "With Tanker, meet the best of all world to foster the most secure and flexible ... At Tanker we reconcile IT & Security departments with employee's favorite tools..." %}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.navbar').addClass('navbar-blue');
        $('.navbar-brand img').attr('src','{% static "img/tanker-blue.svg" %}');
    });
</script>
{% endblock %}

{% block main %}
    <div class="container" id="terms">
    <h1>Tanker user agreement</h1>
    <ul>
    
    <li><h2>Site editor</h2></li>
    <p>Company: Kontrol SaS</p>
    <p>Capital: 32 724,90 Euros</p>
    <p>Registration: 810 391 466 00010</p>
    <p>Address: 6 rue des Ternes 75017 Paris</p>
    <p>Tel: + 33 (0) 1 85 09 21 64</p>
    <p>Email adress : <a href="mailto:contact@tanker.io">contact@tanker.io</a></p>
    <p>Publishing Director : Guillaume Pontallier</p>
    
    <li><h2>Host Site</h2></li>
    <p>Host server: Outscale</p>
    <p>Registration: B 527 594 443</p>
    <p>Address: 1, rue Royale – 319 Bureaux de la Colline 92210 Saint-Cloud</p>
    <p>Tel: +33 826 20 63 07</p>

    <li><h2>Personal data</h2></li>
    <p>The consultation of the website tanker.io does not require the provision of the users’ personal data. However certain services are only accessible after the fill in of the user’s personal data (contact file, demo request).</p>
    <p>Third party cookies may be placed to enable us to measure the performance of the navigation on our website. For more information on the use of cookies, please consult <a href="/legal">our privacy policy</a>.</p>
    <p>The collection and processing of these personal data comply with French data protection regulation (Loi du 6 janvier 1978). In application to the aforementioned law, Kontrol has submitted a declaration to the Commission Nationale de l’Informatique et des libertés (www.cnil.fr), under the registered number of 1718241 v0.</p>
    <p>The user has a right of access, modification, and suppression to its personal data and right of objection that he can exercise at the following addresses: <a href="mailto:personal-data@tanker.io">personal-data@tanker.io</a>.</p>
    <p>or:</p>
    <p>Kontrol- 6 rue des Ternes 75006 Paris- France</p>

    <li><h2>Intellectual Property</h2></li>
    <p>The website www.tanker.io in its entirety, as well as its sub domains are protected by French and international law concerning intellectual property. All reproduction rights, including downloadable documents, are reserved.  The entirety of texts, graphics, icons, pictures, logos, videos, sounds, brands (...) which means all the elements comprising the website ww.tanker.io and its sub domains, as well as the website itself, cannot be represented or reproduced, be it partially or entirely, on any medium without the authorization of Kontrol, as stipulated by the article L122-4 of the Intellectual Property Code. Not respecting this prohibition is an act of counterfeiting that may constitute a ground for legal and civil liability on the part of the perpetrator.</p>
    </ul>
    </div>
{% endblock %}

