{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Tanker" %}{% endblock %}
{% block meta_description %}{% trans "With Tanker, meet the best of all world to foster the most secure and flexible ... At Tanker we reconcile IT & Security departments with employee's favorite tools..." %}{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.navbar').addClass('navbar-blue');
        $('.navbar-brand img').attr('src','{% static "img/tanker-blue.svg" %}');
    });
</script>
{% endblock %}

{% block main %}
    <div class="container" id="terms">
        <h1>Privacy Policy</h1>
        <ul>
        <p>Kontrol takes your privacy very seriously. This privacy policy governs and details the main privacy principles we apply to the data we collect through our website www.tanker.io</p>
        <h2>Data collection and use of personally identifiable information</h2>

        <p><strong>Collection.</strong>  We collect personally identifiable information, such as your name, company name and email address, directly from you when you choose to enter it on our website, for instance when you complete the "Contact Us" form.</p>

        <p><strong>Use.</strong> We use this information to respond to the request or inquiry you have submitted to us through the contact form or other entry field.</p>

        <p>We also use this information for marketing purposes, such as to send you our newsletter or other promotional emails. You may choose to stop receiving our marketing emails by following the unsubscribe instructions included in these communications. With your consent, we may also post your name and a testimonial on our site.</p>

        <p><strong>Information Sharing.</strong>  We do not share your information with third parties for their promotional purposes. We may share your information with our subsidiaries, affiliated companies, and trusted third party service providers working under the instruction of Kontrol, such as an email service provider, hosting provider or data center, exclusively for storage purposes.  Such third parties who provide services on our behalf are authorized to use your personal information only as strictly necessary to provide these services to us.</p>

        <p><strong>Legal Disclaimer.</strong>  We reserve the right to disclose or transfer your personally identifiable information as required by law, as part of a merger, acquisition, dissolution or sale of assets. </p>

        <p><strong>Others’ Websites.</strong>  Our site includes links to other websites whose privacy practices may differ from ours. If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any website you visit.</p>


        <p><strong>Access.</strong>  Upon request, Kontrol will provide you with information about whether we hold any of your personal information.  You may update, access or request deletion of your personally identifiable information by contacting us at <a href="mailto:personal-data@tanker.io">personal-data@tanker.io</a>. We will respond to your request within a reasonable timeframe.</p>

        <h2>Data collection and use of non-personally identifiable information</h2>

        <p><strong>Passive Collection.</strong>  As is true of most websites, we gather certain information automatically. This information may include Internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, the files viewed on our site (e.g., HTML pages, graphics, etc.), operating system, date/time stamp, and/or clickstream data to analyze trends in the aggregate and administer the site.</p>

        <p><strong>Tracking Technologies.</strong> Third parties cookies and web beacons may be placed on our website for the following purposes:</p>

        <p><strong>Analysis of our website activity.</strong> We use Google Analytics cookies to collect information related to the web traffic and number of visitors. These are tools that enable us to measure the performance of the navigation on our website and provide you with personalised marketing messages.</p>

        <p><strong>Contact.</strong> For any question on this privacy policy, you can contact:</p>
        <p>
        <strong>By email : <a href="mailto:personal-data@tanker.io">personal-data@tanker.io</a>, or</strong> <br />
        <strong>By mail : Tanker, 6 rue des Ternes 75017 Paris</strong>
        </p>

        <p><strong>Changes to our privacy policy.</strong> Please note that we may update or change this privacy policy. If we revise our privacy policy, we will post those changes to this privacy statement, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. If we make any material changes we will notify you by means of a notice on this site prior to the change becoming effective. Please check the Tanker website www.tanker.io for the latest version of the privacy policy.</p>

        </ul>
    </div>
{% endblock %}

