<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% trans "Tanker: Encryption" %}</title>
<link rel="shortcut icon" type="image/png" href="{% static "img/logo.png" %}" />

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}

{% load sass_tags %}

<link rel="stylesheet" href="{% static 'components/magnific-popup/dist/magnific-popup.css' %}">
<link href="{% sass_src 'scss/style.scss' %}" rel="stylesheet" type="text/css" />
<style type="text/css">
@media screen and (min-width: 900px) and (max-width: 990px){
        #header .navbar-collapse .navbar-nav li{
                padding-right: 19px;
                font-size: 14px;
        }
}   
@media screen and (min-width: 768px) and (max-width: 900px){
	#header .navbar-collapse .navbar-nav li{
		padding-right: 13px;
		font-size: 11px;
	}
}
</style>
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script type="text/javascript" src="{% static 'components/scrollme/jquery.scrollme.min.js' %}"></script>
<script type="text/javascript" src="{% static 'components/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

    {% page_menu "pages/menus/header.html" %}

    {% block main %}{% endblock %}

    {% page_menu "pages/menus/footer.html" %}

    {% block footer_js %}
    {% include "includes/footer_scripts.html" %}
    {% endblock %}

    <div id="contact-popup" class="white-popup mfp-hide">
        <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/5c644f537bc4f45905f7c191e01c7585836671"><script src="https://pipedrivewebforms.com/webforms.min.js"></script></div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
    $('.middlize').each(function(){
        refH = $(this).siblings('.middlize_ref').height();
        targetH = $(this).height();
        if(refH>targetH){
            console.log('middlize');
            $(this).css('margin-top',(refH-targetH)/2);
        }else{
            $(this).siblings('.middlize_ref').css('margin-top',(targetH-refH)/2);
        }
    });
    // $('.middlize').css('margin-top',($().subling('.middlize_ref').height()-$('.middlize').height())/2);

    $('.col-lg-4.big img').css('margin-bottom', ($('#anssi').height()-$('.col-lg-4.big').height())/2);
    $('.col-lg-4.last img').css('margin-bottom', ($('#anssi').height()-$('.col-lg-4.last').height())/2);
});
</script>
</html>


