#cloud-security {
    #cloud-security-header {
        background-image: url(../../static/img/cloud-security/header.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        /*height: 630px;*/

        @media #{$mobile} {
            /*min-height: 400px;*/
        }

        .header-content {
            /*padding: 13% 0 8% 0;*/
            position: relative;
            top: 30%;
            left: 50%;
            @include prefix(transform, translate(-50%, 0));
            color: $white;
            text-align: center;
            min-width: 80%;

            @media #{$mobile} {
                top: 100px;
            }

            @media #{$tablet} {
                /*padding-top: 14%;*/
            }

            h1 {
                color: $white;
            }

            h3 {
                /*font-size: 18px;*/
                color: $white;
            }

            .button-container {
                .button {
                    @include prefix(box-shadow, none);

                    img {
                        max-width: 14px;
                        margin-left: 8px;
                        margin-bottom: 2px;
                        position: relative;
                        top: 0px;
                        @include prefix(transition, all 0.2s ease);
                    }

                    &:hover {
                        img {
                            top: 3px;
                        }
                    }
                }
            }
        }
    }

    .container {
        margin: 0;
        padding: 60px 7%;

        .row {
            margin: 0;

            .col-md-6, .col-md-8, .col-md-4, .col-md-5, .col-md-7, .col-md-8 {
                display: inline-block;
                vertical-align: top;
                float: none;
                text-align: center;

                .circle {
                    position: absolute;
                    top: 75.2%;
                    left: 50%;

                    @media #{$mobile} {
                        top: 63.5%;
                    }
                }

                img {
                    width: 75%;
                }

                h2 {
                    text-align: left;
                }

                h3 {
                    text-align: left;
                    text-transform: none;
                    padding-left: 0;
                }

                h1, h2, h3 {
                    padding-top: 0;
                    margin-top: 0;
                }
            }

            .col-md-12 {
                text-align: center;
            }

            h1 {
                text-transform: uppercase;
                padding-bottom: 10px;
                padding-top: 30px;
            }

            h2 {
                text-transform: none;
                font-size: 22px;
                font-weight: 400;
                color: $yellow;
            }

            ul {
                text-align: left;
                font-size: 17px;
                line-height: 28px;
                margin-left: 30px;
            }

            p {
                text-align: left;
            }

            .right {
                @media #{$mobile} {
                    padding-bottom: 10%;
                    text-align: center;
                }
            }
        }
    }


    #cloud-security-1{
        .col-md-4{
            h3{
                font-size: 30px;
                font-weight: 600;
            }
        }
        li{
            font-weight: 500;
        }
    }

    #cloud-security-2 {
        background-color: $blue;
        color: $white;

        .col-md-4{
            h3{
                font-size: 30px;
                font-weight: 600;
                color: $white;
            }
        }
        p{
            color: $white;
        }
    }
    #cloud-security-3 {
        .col-md-4{
            h3{
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
    #cloud-security-5 {
        .col-md-4{
            h3{
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
}

