body {
    $font-size: 14px;

    font-family: 'Open Sans';
    color: $black;
    padding: 0;
    font-weight: 400;

    img {
        width: 100%;
    }

    .container {
        width: 100%;
        margin: 0;
        padding-left: 7%;
        padding-right: 7%;
        overflow: hidden;
    }

    a {
        color: $blue;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 4px;
            border-top: 1px solid transparent;
            @include prefix(transition, all 0.2s ease-in-out);
        }

        &:hover {
            color: $blue;
            text-decoration: none;

            &:after {
                border-top-color: $blue;
                bottom: 0;
            }
        }
        
        &:focus {
            outline: none;
        }

        &.button {
            color: $white;
            font-weight: 600;
            border-radius: 5px;
            padding: 6px 11px;
            text-transform: uppercase;
            @include prefix(box-shadow, 2px 2px 6px 0px $grey);
            background: $yellow;
            white-space: nowrap;
            display: inline-block;
            text-align: center;
            white-space: normal;
            line-height: 22px;
            @include prefix(transition, all 0.25s ease);

            &:after {
                content: none;
            }

            &:hover, &:active, &:focus {
                text-decoration: none;
                @include prefix(box-shadow, 4px 4px 6px 0px $grey);
            }

            &.white {
                color: $black;
                background-color: $white;
            }

            &.black {
                color: $white;
                background-color: $black;
            }

            &.blue {
                color: $white;
                background-color: $blue;
            }

            &.blue-gradient {
                color: $white;
                background: $blue;
                background: -moz-linear-gradient(-37deg,  $blue 0%, $royalBlue 85%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-37deg,  $blue 0%,$royalBlue 85%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(-37deg,  $blue 0%,$royalBlue 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263B77', endColorstr='#3150C0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            &.green {
                @include prefix(box-shadow, none);
                border-radius: 50px;
                text-transform: none;
                background: $green;

                &:hover {
                    @include prefix(box-shadow, 2px 2px 6px 0px $grey);
                }
            }

            strong {
                font-weight: 700;
            }

            .light {
                text-transform: lowercase;
                font-style: italic;
                font-weight: normal;
                font-size: 13px;
            }
        }
    }

    input {
        &:focus {
            outline: none;
        }
    }

    .button-container {
        padding: 3% 0;
        line-height: 55px;

        .button {
            margin-right: 10px;
            margin-left: 0;
            margin-bottom: 20px;

            @media #{$mobile} {
                margin-right: 0;
            }
        }
    }

    h1 {
        padding: 30px 0 0 0 ;
        text-align: center;
        margin: 0;
        line-height: 60px;
        font-size: 55px;
        font-weight: 300;
        text-transform: uppercase;
        color: $black;
        // word-break: break-word;

        @media #{$mobile} {
        line-height: 45px;
        }
    }

    h2 {
        font-weight: 500;
        margin-top: 20px;
        padding-bottom: 25px;
        text-transform: none;
        font-size: 30px;
        font-weight: 600;
        color: $black;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
        color: $black;
        font-weight: 400;
    }

    p {
        font-size: $font-size;
        line-height: 25px;
        font-weight: 400;
        margin-bottom: 20px;
        color: $black;
    }

    ul {
        li {
            font-weight: 300;
            font-size: $font-size;
        }
    }


    .custom_header{
        height: 630px;
        @media #{$mobile} {
            height: 500px;
        }
    }
    .custom_header h1{
        font-size: 55px;
        @media #{$mobile} {
            font-size: 40px;
        }
    }
    .custom_header h3{
        font-size: 22px;
        @media #{$mobile} {
            font-size: 16px;
        }
    }

    .circle {
        $size: 70px;

        height: $size;
        width: $size;
        border-radius: 50%;
        background-color: $blue;
        z-index: -1;
        position:relative;
        @include prefix(transition, height .25s ease, width .25s ease);
        @include prefix(transform, translate(-50%,-50%));

        @media #{$mobile-xs} {
            $size: 40px;

            height: $size;
            width: $size;
        }

        &:before, &:after {
            content:'';
            display:block;
            position:absolute;
            top:0; right:0; bottom:0; left:0;
            border-radius:50%;
            border:1px solid $blue;
        }

        &:before {
          @include prefix(animation, ripple 2s linear infinite);
        }

        &:after {
            @include prefix(animation, ripple 2s linear 1s infinite);
        }
    }

    @-webkit-keyframes ripple{
      0% {-webkit-transform:scale(1); }
      75% {-webkit-transform:scale(1.75); opacity:1;}
      100% {-webkit-transform:scale(2); opacity:0;}
    }

    @keyframes ripple{
      0% {transform:scale(1); }
      75% {transform:scale(1.75); opacity:1;}
      100% {transform:scale(2); opacity:0;}
    }

    .background-blue {
        background: $lighterBlue;
        background: -moz-linear-gradient(-45deg,  $lighterBlue 0%, $white 85%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  $lighterBlue 0%,$white 85%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  $lighterBlue 0%,$white 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ebf9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .mfp-content {
      text-align: center !important;
    }

    .white-popup {
      position: relative;
      background: #FFF;
      padding: 20px;
      width: auto;
      max-width: 500px;
      margin: 20px auto;
    }
}

