#jobs {
    #jobs-header {
        background-image: url(../../static/img/jobs/header.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media #{$mobile} {
            min-height: 400px;
        }

        .header-content {
            /*padding: 9% 0 5% 0;*/
            position: relative;
            top: 30%;
            left: 50%;
            @include prefix(transform, translate(-50%, 0));
            color: $white;
            text-align: center;
            width: 90%;

            @media #{$mobile} {
                top: 100px;
                left: 0;
                position: relative;
                width: 100%;
                @include prefix(transform, none);
                padding-left: 10%;
                padding-right: 10%;
            }

            h1 {
                color: $white;
            }

            h3 {
                color: $white;
            }

            .button-container {
                .button {
                    @include prefix(box-shadow, none);

                    img {
                        max-width: 14px;
                        margin-left: 8px;
                        margin-bottom: 2px;
                        position: relative;
                        top: 0px;
                        @include prefix(transition, all 0.2s ease);
                    }

                    &:hover {
                        img {
                            top: 3px;
                        }
                    }
                }
            }
        }
    }

    .container {
        .row {
            margin: 0;

            h1 {
                color: $blue;
                text-align: left;
                padding-left: 0;
                padding-bottom: 5%;
                padding-top: 2%;
            }

            h2 {
                text-transform: none;
                font-weight: 600;
            }

            h3 {
                color: $yellow;
                text-align: left;
                padding-bottom: 5%;
                padding-top: 2%;
            }

            p {
                text-align: left;
            }

            .col-md-6, .col-md-7, .col-md-5 {
                $padding: 4%;

                display: inline-block;
                vertical-align: middle;
                float: none;
                text-align: center;
                padding-left: $padding;
                padding-right: $padding;

                &.top {
                    vertical-align: top;
                }

                img {
                    width: 75%;
                }

                h2, p {
                    text-align: left;
                }
            }

            .col-md-12 {
                text-align: center;
            }
        }
    }

    #team {
        /*padding-bottom: 5%;*/

        h1 {
            text-align: center;
        }
        .container{
            padding: 40px 45px 60px 45px;

            .col-md-8{
                padding-right: 0;
                padding-left: 0;

                p{
                    text-align: justify;
                }
            }
        }
    }

    #how-we-work {
        padding: 40px 45px 80px 45px;
        background-color: #F5F5F5;

        .row {
            padding-top: 0;
        }

        .col-md-3 {
            $padding: 7%;

            padding-right: $padding;
            text-align: center;
            padding-top: 0;
            vertical-align: bottom;

            p {
                margin-top: 20px;
                text-align: center;
            }

            h3 {
                color: $blue;
                font-weight: 400;
                text-align: center;
            }

            img {
                width: 50%;

                @media #{$tablet} {
                    max-width: 200px;
                }

                @media #{$mobile} {
                    max-width: 100px;
                }
            }
        }
    }

    #hack-challenge {
        background-image: url(../../static/img/jobs/hack.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 60px 0;

        h2{
            color: $white;
            padding-bottom: 40px;
        }
        p{
            text-align: left;
            color: $white;
        }
        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .container{
            padding: 40px 45px;
        }
        .col-md-6 {
            vertical-align: top;
            padding-left: 0;
            padding-right: 0;
        }

        .button {
            border: 1px solid $white;
            background: transparent;
            color: $white;
            @include prefix(box-shadow, none);

            &:hover {
                background-color: $white;
                color: $blue;
            }
        }
    }

    #job-offers {
        padding: 40px 0 60px 0;
        background-color: $white;

        h2{
            margin: 20px 0 10px 0;
            padding-bottom: 25px;
            text-align: center;
        }

        .job-items {
            $width: 75%;

            text-align: center;
            width: $width;
            left: (100% - $width) / 2;
            position: relative;
            border: 1px solid #C9C9C9;
            background-color: $white;
            border-radius: 2px;
            margin-top: 30px;
            padding: 2% 4%;

            .job-item {
                border-bottom: 1px solid $grey;

                &:last-of-type {
                    border-bottom: none;
                }
            }

            &:first-of-type {
                margin-top: 0;
            }

            .job-question {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                font-weight: 700;

                h4{
                    text-align: left;
                    font-weight: 600;
                    color: $black;
                }
                h5{
                    text-align: left;
                    font-weight: 400;
                    color: rgba(0,0,0,.4);
                }
                p {
                    text-align: justify;
                    margin-bottom: 0;
                    font-weight: 700;
                    color: $black;

                    @media #{$mobile} {
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                }

                .row {
                    padding: 20px;
                    margin: 0;
                }

                .col-md-10 {
                    padding-left: 30px;
                    font-weight: 600;
                }

                .col-md-2, .col-md-10 {
                    display: inline-block;
                    vertical-align: middle;
                    float: none;

                    img {
                        width: 50%;
                    }

                    .job-button {
                        background: transparent;
                        border: 1px solid $darkGrey;
                        color: $darkGrey;
                        box-shadow: none;

                        &:hover {
                            background-color: $darkGrey;
                            color: $white;
                        }

                        &.read {
                            border-color: $blue;
                            color: $blue;

                            &:hover {
                                background-color: $blue;
                                color: $white;
                            }
                        }
                    }
                }
            }

        .job-answer{
            b, strong{
                color: #263B77;
            }
        }
            .job-answer {
                border-top: 1px solid $lightBlue;
                padding-bottom: 3%;

                &.none {
                    display: none;
                }

                p {
                    padding: 20px 50px;
                    text-align: justify;
                    margin-bottom: 0;

                    @media #{$mobile} {
                        padding-bottom: 30px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                a {
                    word-break: break-word;
                }
            }
        }
    }


    #contact-us {
        padding: 40px 0 60px 0;
        text-align: center;

        h1, p {
            color: $black;
            text-align: center;
        }
        h2{
            margin: 20px 0 10px 0;
            padding-bottom: 25px;
        }
    }

}

