#legal {
    background-color: $blue;
    color: $white;
    margin: 0;
    width: 100%;
    padding: 110px 10%;

    h1, p, a {
        color: $white;
    }

    a {
        &:hover {
            &:after {
                border-color: $white;
            }
        }
    }

    h2 {
        text-transform: none;
        font-weight: 700;
        color: $white;
    }
}
