#terms {
    background-color: $blue;
    margin: 0;
    color: $white;
    width: 100%;
    padding: 110px 10%;

    h1, p {
        color: $white;
    }

    li {
        list-style-type: none;

        h2 {
            text-transform: none;
            color: $white;
        }
    }
}
