// global variables

$white: #ffffff;
$blue: #263B77;
$black: #1E1E1E;

$yellow: #F6A623;
$royalBlue: #3150C0;
$darkGrey: #777777;
$grey: #C9C9C9;
$lightBlue: #F0F9FC;
$lighterBlue: #C5EBF9;
$lightGrey2: #F4F4F3;
$lightGrey3: #F5F5F5;
$lightGrey: #F9F9F9;
$green: #4FD48F;
$blue2: #2CBDFF;

// media queries
$mobile: "only screen and (max-width: 768px)";
$mobile-xs: "only screen and (max-width: 420px)";
$tablet: "only screen and (max-width: 992px)";
